
@{
    ViewBag.Title = "EditarTour";
}
<div class="row">
    @Html.Partial("MenuAdministrador")
    <div class="col-lg-12">
        <h2>Editar Tour</h2>
        <form id="form-tour-editar" method="post">
            @foreach (var item in ViewBag.tour)
            {
                <input id="idtour" type="hidden" value="@item.id_tour" />
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Nombre de Tour</label>
                        <input id="tour" type="text" class="form-control" name="tour" placeholder="Nombre de Tour" value="@item.tour" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Salida de</label>
                        <input id="sale" type="text" class="form-control" name="sale" value="@item.saliendo" required>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-4">
                        <label>Hora de Salida</label>
                        <input type="time" id="horasalida" class="form-control" name="horasalida" value="@item.formatHsalida()" required>

                    </div>
                    <div class="form-group col-md-4">
                        <label>Hora de Regreso</label>
                        <input type="time" id="horaregreso" class="form-control" name="horaregreso" value="@item.formatHregreso()" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Duración (hrs)</label>
                        <input type="number" id="duracion" class="form-control" name="duracion" value="@item.formatDuracion()" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Costo de Temporada Alta</label>
                        <input type="number" id="costoalta" step="any" class="form-control" name="costoalta" value="@item.costo_alta" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Costo de Temporada Baja</label>
                        <input type="number" id="costobaja" step="any" class="form-control" name="costobaja" value="@item.costo_baja" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Descripción</label>
                        <textarea id="descripcion" class="form-control incluye" name="descripcion" required>@Html.Raw(@item.descripcion)</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="VerTours" class="btn btn-danger">Cancelar</a>
            }
        </form>
    </div>
    <script>
        CKEDITOR.replace('descripcion');
    </script>
</div>

