
@{
    ViewBag.Title = "verVentas";
}
<div class="row">
    @Html.Partial("MenuAgenteDeVentas")
    <h2>Ventas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Fecha</p>
                    <input onchange="VentasPorFecha(this.value)" id="fecha-dia" class="form-control" type="date" value="@ViewBag.fecha" />
                </th>
                <th>
                    <p id="totalCotizacion">Cotizaciones al Día: @ViewBag.cant</p>
                </th>
                <th>
                    <p id="totalVentas">Ventas al Día: @ViewBag.cantVentas</p>
                </th>
                <th>
                    <p id="totalPesos">Total al Día: @ViewBag.total MXN$</p>
                </th>
            </tr>
            <tr>
                <th><p>Cliente</p></th>
                <th><p>Servicio</p></th>
                <th><p>Nombre</p></th>
                <th><p>Total MXN$</p></th>
                <th><p>Status</p></th>
                <th><p>Opciones</p></th>
            </tr>
        </thead>
        <tbody id="tbodyVentas">
            @foreach (var item in ViewBag.listVentasAgente)
            {
                <tr>
                    <th>@item.cliente</th>
                    <th>@item.tipoServicio</th>
                    <th>@item.nombreServicio</th>
                    <th>@item.total</th>
                    <th>@item.status</th>
                    <th>
                        <input class="btn btn-success detalles" onclick="verVenta(@item.id)" type="button" value="Detalles" />
                    </th>

                </tr>
            }
        </tbody>
    </table>
    <div class="overlay-container modal">
        <div class="window-container zoomin">
            <div align="right"><span class="glyphicon glyphicon-remove close"></span></div>
            <h3 align="center">Detalles de Venta</h3>
            <br />
            <hr />
            <form method="post">
                <table>
                    <tr>
                        <th><p class="text-data">Cliente:</p></th>
                        <th><p id="clienteM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Correo:</p></th>
                        <th><p id="correoM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Telefono:</p></th>
                        <th><p id="telefonoM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Servicio:</p></th>
                        <th><p id="servicioM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Nombre:</p></th>
                        <th><p id="nombreM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Tipo de Pago:</p></th>
                        <th><p id="tipopagoM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Fechas que Abarca:</p></th>
                        <th><p id="abarcaM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Total:</p></th>
                        <th><p id="totalM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">anticipo:</p></th>
                        <th><p id="anticipoM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Saldo:</p></th>
                        <th><p id="saldoM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Referencia:</p></th>
                        <th><p id="referenciaM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Fecha y Hora Realizada:</p></th>
                        <th><p id="fechaM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Status:</p></th>
                        <th><p id="statusM" class="text-data"></p></th>
                    </tr>
                    <tr>
                        <th><p class="text-data">Comentarios:</p></th>
                        <th><p id="comentariosM" class="text-data"></p></th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

